<!DOCTYPE html>
<html ng-app="AuthTest">
<head>
    <title></title>
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link type="text/css" href="/css/bootstrap-responsive.min.css" rel="stylesheet"/>
</head>
<body ng-controller="MainCtrl">
<div ng-view></div>
<script type="text/javascript">
    window.CONFIG = {
        signUpURL: '/auth/signup',
        loginURL: '/auth/login',
        logoutURL: '/auth/logout'
    };
    window.USER = [[& user ]];
</script>
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
<script type="text/javascript" src="/scripts/controllers/main.js"></script>
<script type="text/javascript" src="/scripts/services/auth.js"></script>
<script type="text/javascript" src="/scripts/services/configuration.js"></script>
<script type="text/javascript" src="/scripts/services/guard.js"></script>
</body>
</html>